Repository openconfig/featureprofiles, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openconfig/featureprofiles-maintainers, @alokmtri-g, @sudhinj, @dplore, @ram-mac, @rohit-rp, @swetha-haridasula, @amrindrr, @sezhang2, @mihirpitale-googler, @openconfig/featureprofiles-maintainers-otg

LC OIR tc fixture
  feature/gribi/ate_tests/cisco/backup_nh/backup_nh_test.go
Owners: @openconfig/featureprofiles-maintainers

removed unwanted code
  feature/gribi/ate_tests/cisco/backup_nh/backup_nh_test.go
Owners: @openconfig/featureprofiles-maintainers

Update README.md
  feature/acl/Flow_matching_using_ACL_and_Portmirror/README.md
Owners: @alokmtri-g

Update testregistry.textproto
  testregistry.textproto
Owners: @openconfig/featureprofiles-maintainers

Moved the capturePktsBeforeTraffic & added deviation for isisLevelEnabled
  feature/interface/aggregate/otg_tests/aggregate_all_not_viable_test/aggregate_all_not_forwarding_viable_test.go
  feature/interface/aggregate/otg_tests/aggregate_all_not_viable_test/metadata.textproto
Owners: @ram-mac

Krinata2 create bundle dynamically (#1305)
  internal/cisco/util/util.go
Owners: @openconfig/featureprofiles-maintainers

added telemetry base config for aft to work
  topologies/cisco/hw/8808_FOX2625PLW8_MGMT_GRPC/baseconfig.proto
Owners: @openconfig/featureprofiles-maintainers

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @openconfig/featureprofiles-maintainers will be requested for
# review when someone opens a pull request.
*       @openconfig/featureprofiles-maintainers

# /feature folders each have owners who are auto requested for review and may merge PR's
/feature/acl/          @alokmtri-g
/feature/aft/          @sudhinj
/feature/bgp/          @dplore
/feature/dhcp/         @alokmtri-g
/feature/ethernet/     @ram-mac
/feature/interface/    @ram-mac
/feature/isis/         @rohit-rp
/feature/lldp/         @alokmtri-g
/feature/mpls/         @swetha-haridasula
/feature/mtu/          @swetha-haridasula
/feature/networkinstance/    @swetha-haridasula
/feature/platform/           @amrindrr
/feature/qos                 @sezhang2
/feature/routing_policy/     @swetha-haridasula
/feature/sampling/           @sudhinj
/feature/security            @mihirpitale-googler
/feature/staticroute/        @swetha-haridasula
/feature/stp/                @alokmtri-g
/feature/system              @swetha-haridasula
/feature/vrrp                @amrindrr

# Common OTG utilities 
/internal/otgutils/  @openconfig/featureprofiles-maintainers-otg
