Repository openconfig/featureprofiles, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openconfig/featureprofiles-approvers, @openconfig/featureprofiles-owner-acl, @openconfig/featureprofiles-owner-aft, @openconfig/featureprofiles-owner-bgp, @alokmtri-g, @ram-mac, @openconfig/featureprofiles-owner-gribi, @openconfig/featureprofiles-owner-interface, @openconfig/featureprofiles-owner-isis, @openconfig/featureprofiles-owner-lldp, @openconfig/featureprofiles-owner-mpls, @openconfig/featureprofiles-owner-mtu, @openconfig/featureprofiles-owner-networkinstance, @openconfig/featureprofiles-owner-platform, @openconfig/featureprofiles-owner-platform-transceiver, @openconfig/featureprofiles-owner-qos, @swetha-haridasula, @sudhinj, @openconfig/featureprofiles-owner-security, @openconfig/featureprofiles-owner-staticroute, @openconfig/featureprofiles-owner-system, @amrindrr, @openconfig/featureprofiles-maintainers-otg

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @openconfig/featureprofiles-approvers will be requested for
# review when someone opens a pull request.
*       @openconfig/featureprofiles-approvers

# /feature folders each have owners who are auto requested for review and may merge PR's
/feature/acl/          @openconfig/featureprofiles-owner-acl
/feature/aft/          @openconfig/featureprofiles-owner-aft
/feature/bgp/          @openconfig/featureprofiles-owner-bgp
/feature/dhcp/         @alokmtri-g
/feature/ethernet/     @ram-mac
/feature/gribi/        @openconfig/featureprofiles-owner-gribi
/feature/interface/    @openconfig/featureprofiles-owner-interface
/feature/isis/         @openconfig/featureprofiles-owner-isis
/feature/lldp/         @openconfig/featureprofiles-owner-lldp
/feature/mpls/         @openconfig/featureprofiles-owner-mpls
/feature/mtu/          @openconfig/featureprofiles-owner-mtu
/feature/networkinstance/    @openconfig/featureprofiles-owner-networkinstance
/feature/platform/           @openconfig/featureprofiles-owner-platform
/feature/platform/transceiver  @openconfig/featureprofiles-owner-platform-transceiver
/feature/qos                 @openconfig/featureprofiles-owner-qos
/feature/routing_policy/     @swetha-haridasula
/feature/sampling/           @sudhinj
/feature/security            @openconfig/featureprofiles-owner-security
/feature/staticroute/        @openconfig/featureprofiles-owner-staticroute
/feature/stp/                @alokmtri-g
/feature/system              @openconfig/featureprofiles-owner-system
/feature/vrrp                @amrindrr

# Common OTG utilities 
/internal/otgutils/  @openconfig/featureprofiles-maintainers-otg

typo fic compate - compare
  feature/system/logging/console_vty_file/tests/README.md
Owners: @openconfig/featureprofiles-owner-system

remove [TODO] for supported local destinations
  feature/system/logging/console_vty_file/tests/README.md
Owners: @openconfig/featureprofiles-owner-system

GNMIWithText: change method signature throw fatal instead of error
  internal/cisco/util/util.go
Owners: @openconfig/featureprofiles-approvers

fix
  feature/experimental/qos/qos_ingress_traffic_classification/otg_tests/dscp_trust_classification_test/dscp_trust_classification_test.go
Owners: @openconfig/featureprofiles-approvers

add back accidentally skipped test
  feature/cisco/gnmi/utilization/gnmi_resource_utilization_test.go
Owners: @openconfig/featureprofiles-approvers

gofmt
  feature/cisco/gnmi/utilization/gnmi_resource_utilization_test.go
Owners: @openconfig/featureprofiles-approvers

added requirement to test interface/rate/load-interval
  feature/gnmi/otg_tests/telemetry_interface_packet_counters_test/README.md
Owners: @openconfig/featureprofiles-approvers

masked the un used function
  feature/cisco/interface/interface_test.go
Owners: @openconfig/featureprofiles-approvers

add yaml section
  feature/system/logging/console_vty_file/tests/README.md
Owners: @openconfig/featureprofiles-owner-system

Update feature.textproto
  feature/system/logging/console_vty_file/feature.textproto
Owners: @openconfig/featureprofiles-owner-system

Update feature.textproto
  feature/system/logging/console_vty_file/feature.textproto
Owners: @openconfig/featureprofiles-owner-system

Update README.md
  feature/system/logging/console_vty_file/tests/README.md
Owners: @openconfig/featureprofiles-owner-system

Update feature.textproto
  feature/system/logging/console_vty_file/feature.textproto
Owners: @openconfig/featureprofiles-owner-system

Update README.md
  feature/system/logging/console_vty_file/tests/README.md
Owners: @openconfig/featureprofiles-owner-system

Update metadata.textproto
  feature/system/logging/console_vty_file/tests/metadata.textproto
Owners: @openconfig/featureprofiles-owner-system

Update metadata.textproto
  feature/system/logging/console_vty_file/tests/metadata.textproto
Owners: @openconfig/featureprofiles-owner-system

Update metadata.textproto
  feature/system/logging/console_vty_file/tests/metadata.textproto
Owners: @openconfig/featureprofiles-owner-system

updated mpls config and stream
  feature/qos/otg_tests/egress_strict_priority_scheduler_test/egress_strict_priority_scheduler_test.go
Owners: @openconfig/featureprofiles-owner-qos

Modifications to isisRT2.14
  feature/isis/otg_tests/isis_drain_test/isis_drain_test.go
Owners: @openconfig/featureprofiles-owner-isis

added requirement to test interface/rate/load-interval (#3854)
  feature/gnmi/otg_tests/telemetry_interface_packet_counters_test/README.md
Owners: @openconfig/featureprofiles-approvers

reverting changes in PR3852 as it was skipping bgp_session_check_without_afisafi
  feature/bgp/otg_tests/bgp_afi_safi_defaults/metadata.textproto
Owners: @openconfig/featureprofiles-owner-bgp

reverting changes in PR3852 as it was skipping bgp_session_check_without_afisafi (#3856)
  feature/bgp/otg_tests/bgp_afi_safi_defaults/metadata.textproto
Owners: @openconfig/featureprofiles-owner-bgp
